test/fixtures/nemsis/nemsis_public/3.5.0.211008CP3/XSDs/NEMSIS_XSDs/dAgency_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns="http://www.nemsis.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://www.ascc.net/xml/schematron" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"/>
	<xs:complexType name="dAgency">
		<xs:sequence>
			<xs:element name="dAgency.01" type="EMSAgencyStateID" id="dAgency.EMSAgencyUniqueStateID">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.01</number>
							<name>EMS Agency Unique State ID</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The unique ID assigned to the EMS Agency which is associated with all state licensure numbers and information.</definition>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>This may be the EMS Agency Name or a unique number assigned by the state EMS office. This is required to document multiple license types and numbers associated with the same EMS Agency.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dAgency.02" id="dAgency.EMSAgencyNumber">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.02</number>
							<name>EMS Agency Number</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The state-assigned provider number of the responding agency</definition>
							<v2Number>D01_01</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>This is the primary identifier for the entire Demographic Section.  Each of the Demographic sections must be associated with an EMS Agency Number. An EMS Agency can have more than one Agency Number within a state. This reflects the ability for an EMS Agency to have a different number for each service type or location (based on state implementation).
							The EMS Agency Number in dAgency.02 can be used to auto-populate eResponse.01 EMS Agency Number in the EMS Event section.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSAgencyNumber"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="dAgency.03" nillable="true" id="dAgency.EMSAgencyName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.03</number>
							<name>EMS Agency Name</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The formal name of the agency.</definition>
							<v2Number>D01_02</v2Number>
							<usage>Recommended</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="EMSAgencyName">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="dAgency.04" id="dAgency.EMSAgencyState">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.04</number>
							<name>EMS Agency State</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The state/territory which assigned the EMS agency number.</definition>
							<v2Number>D01_03</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>This has been clarified to reflect that it is the state in which the EMS Agency resides and the state associated with the EMS Agency number.
								&lt;br/>&lt;br/>GNIS Codes Website: &lt;a href="http://geonames.usgs.gov/domestic/download_data.htm" target="_blank">http://geonames.usgs.gov/domestic/download_data.htm&lt;/a></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ANSIStateCode"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="dAgency.AgencyServiceGroup" id="dAgency.AgencyServiceGroup" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Group Tag to hold info about the Agency's service information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dAgency.05" id="dAgency.EMSAgencyServiceAreaStates">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dAgency.05</number>
										<name>EMS Agency Service Area States</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The states in which the EMS Agency provides services including the state associated with the EMS Agency Number.</definition>
										<usage>Mandatory</usage>
										<comment>Each state is captured as a group where the EMS agency provides service. The group includes dAgency.05, dAgency.06, dAgency.07, and Agency.08.
										      &lt;br/>&lt;br/>Element added to document all of the states in which the EMS agency provides services. Each state listed is associated with the counties, census tracts, and ZIP codes within the EMS Agency Service Area for each state.
										      &lt;br/>&lt;br/>GNIS Codes Website: &lt;a href="http://geonames.usgs.gov/domestic/download_data.htm" target="_blank">http://geonames.usgs.gov/domestic/download_data.htm&lt;/a></comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ANSIStateCode"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dAgency.06" id="dAgency.EMSAgencyServiceAreaCountyies" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dAgency.06</number>
										<name>EMS Agency Service Area County(ies)</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The county(ies) within each state for which the agency formally provides service.</definition>
										<v2Number>D01_04</v2Number>
										<usage>Mandatory</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>Each state listed is associated with the counties, census tracts, and ZIP codes within the EMS Agency Service Area for each state. County codes are based on ISO/ANSI codes. It is a 5-digit code based on state (2-digit) and county (3-digit). 
											&lt;br/>&lt;br/>GNIS Codes Website: &lt;a href="http://geonames.usgs.gov/domestic/download_data.htm" target="_blank">http://geonames.usgs.gov/domestic/download_data.htm&lt;/a></comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ANSICountyCode">
										<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dAgency.07" nillable="true" id="dAgency.EMSAgencyCensusTracts" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dAgency.07</number>
										<name>EMS Agency Census Tracts</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The US census tracts in which the EMS agency formally provides service.</definition>
										<usage>Required</usage>
										<comment>
										This data element was added to better document the service area of the EMS Agency. Each state listed is associated with the counties, census tracts, and ZIP codes within the EMS Agency Service Area for each state. 
										&lt;br/>&lt;br/>The format of the census tract number must be an 11-digit number, based upon the 2010 census, using the pattern: 
										&lt;br/>2-digit State Code 3-digit County Code 6-digit Census Tract Number (no decimal) 
										&lt;br/>&lt;br/>Example: NEMSIS TAC office (UT, Salt Lake County, Census Tract - located at 295 Chipeta Way, Salt Lake City, UT) 
										49035101400
										&lt;br/>&lt;br/>Census Tract Data Website (files and descriptions): &lt;a href="http://www.census.gov/geo/maps-data/data/tract_rel_download.html" target="_blank">http://www.census.gov/geo/maps-data/data/tract_rel_download.html&lt;/a>																		
										</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="CensusTracts">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
											</xs:simpleType>
										</xs:attribute>
										<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dAgency.08" nillable="true" id="dAgency.EMSAgencyServiceAreaZIPCodes" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dAgency.08</number>
										<name>EMS Agency Service Area ZIP Codes</name>
										<national>Yes</national>
										<state>Yes</state>
										<definition>The ZIP codes for the EMS Agency's service area.</definition>
										<usage>Required</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>This data element was added to better document the service area of the EMS Agency. Each state listed is associated with the counties, census tracts, and ZIP codes within the EMS Agency Service Area for each state.
											&lt;br/>&lt;br/>Zip Codes Product Website: &lt;a href="https://www.zipcodedownload.com/Products/Product/Z5Commercial/Standard/Overview/" target="_blank">https://www.zipcodedownload.com/Products/Product/Z5Commercial/Standard/Overview/&lt;/a>
&lt;br/>Product: USA - 5-digit ZIP Code Database, Commercial Edition</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ZIP">
										<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
					<xs:attribute name="UUID" type="UUID" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dAgency.09" id="dAgency.PrimaryTypeofService">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.09</number>
							<name>Primary Type of Service</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The primary service type provided by the agency.</definition>
							<v2Number>D01_05</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>The Primary Type of Service is associated with each of the EMS Agency Numbers.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="TypeOfService"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="dAgency.10" nillable="true" id="dAgency.OtherTypesofService" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.10</number>
							<name>Other Types of Service</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The other service type(s) which are provided by the agency.</definition>
							<v2Number>D01_06</v2Number>
							<usage>Recommended</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>If no other services are provided beyond the Primary Service Type, Not Applicable should be used. This should include all of the types of services not listed in (dAgency.09) Primary Type of Service.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="TypeOfService">
							<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="dAgency.11" type="StateCertificationLicensureLevels" id="dAgency.LevelofService">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.11</number>
							<name>Level of Service</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The level of service which the agency provides EMS care for every request for service (the minimum certification level). This may be the license level granted by the state EMS office.</definition>
							<v2Number>D01_07</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>The Level of Service is associated with the specific EMS Agency Number (dAgency.02) for the EMS Agency. For example a BLS licensed ambulance service (EMT-Basic) with EMT-Intermediate or EMT-Paramedic on staff, the appropriate level of service is "EMT-Basic". This  is because the care provided to patients is limited to BLS skills.
							&lt;br/>&lt;br/>The category EMT-Intermediate includes EMS professionals with an "85" or "99" certification level.
							</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dAgency.12" type="OrganizationStatus" id="dAgency.OrganizationStatus">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.12</number>
							<name>Organization Status</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The primary organizational status of the agency. The definition of Volunteer or Non-Volunteer is based on state or local definitions.</definition>
							<v2Number>D01_09</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>The Organizational Status is associated with the EMS Agency and the specific EMS Agency Number (dAgency.02).</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dAgency.13" type="OrganizationalType" id="dAgency.OrganizationalType">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.13</number>
							<name>Organizational Type</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The organizational structure from which EMS services are delivered (fire, hospital, county, etc).</definition>
							<v2Number>D01_08</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Organizational Type is associated with the EMS Agency and the specific EMS Agency Number (dAgency.02).</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dAgency.14" id="dAgency.EMSAgencyOrganizationalTaxStatus">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.14</number>
							<name>EMS Agency Organizational Tax Status</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The EMS Agencies business/corporate organizational tax status.</definition>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Associated with the EMS Agency for the specific EMS Agency Number (dAgency.02).</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AgencyOrganizationalTaxStatus"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="dAgency.AgencyYearGroup" id="dAgency.AgencyYearGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Group Tag to hold information about EMS agency annual statistics.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dAgency.15" id="dAgency.StatisticalCalendarYear" minOccurs="0" nillable="true">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dAgency.15</number>
										<name>Statistical Calendar Year</name>
										<national>No</national>
										<state>Yes</state>
										<definition>The calendar year to which the information pertains for the EMS Agency and the specific EMS Agency Number (dAgency.02).</definition>
										<v2Number>D01_10</v2Number>
										<usage>Recommended</usage>
										<comment>Added Calendar Year to the definition to remove confusion noted in draft comments. Will allow multiple entry to allow data to be stored on several years. This statistical information is associated with the EMS Agency's specific EMS Agency Number (dAgency.02) and elements dAgency.16 through dAgency.22.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="Year">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dAgency.16" nillable="true" id="dAgency.TotalPrimaryServiceSizeArea" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
										<nemsisTacDoc>
											<number>dAgency.16</number>
											<name>Total Primary Service Area Size</name>
											<national>No</national>
											<state>Yes</state>
											<definition>The total square miles in the agency's service area.</definition>
											<v2Number>D01_12</v2Number>
											<usage>Recommended</usage>
											<performanceMeasuresGroup>
												<performanceMeasure>Airway</performanceMeasure>
												<performanceMeasure>Cardiac Arrest</performanceMeasure>
												<performanceMeasure>Pediatric</performanceMeasure>
												<performanceMeasure>Response</performanceMeasure>
												<performanceMeasure>STEMI</performanceMeasure>
												<performanceMeasure>Stroke</performanceMeasure>
												<performanceMeasure>Trauma</performanceMeasure>
											</performanceMeasuresGroup>
											<comment>This statistical information is associated with the EMS Agency's specific EMS Agency Number (dAgency.02). A value should be associated with each with (dAgency.15) Statistical Calendar Year</comment>
										</nemsisTacDoc>						
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AnnualAgencyStatistics">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotReporting NV.NotRecorded"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dAgency.17" nillable="true" id="dAgency.TotalServiceAreaPopulation" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
										<nemsisTacDoc>
											<number>dAgency.17</number>
											<name>Total Service Area Population</name>
											<national>No</national>
											<state>Yes</state>
											<definition>The total population in the agency's service area based if possible on year 2010 census data.</definition>
											<v2Number>D01_13</v2Number>
											<usage>Recommended</usage>
											<performanceMeasuresGroup>
												<performanceMeasure>Airway</performanceMeasure>
												<performanceMeasure>Cardiac Arrest</performanceMeasure>
												<performanceMeasure>Pediatric</performanceMeasure>
												<performanceMeasure>Response</performanceMeasure>
												<performanceMeasure>STEMI</performanceMeasure>
												<performanceMeasure>Stroke</performanceMeasure>
												<performanceMeasure>Trauma</performanceMeasure>
											</performanceMeasuresGroup>
											<comment>This statistical information is associated with the EMS Agency's specific EMS Agency Number (dAgency.02). A value should be associated with each with (dAgency.15) Statistical Calendar Year.</comment>
										</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AnnualAgencyStatistics">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotReporting NV.NotRecorded"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dAgency.18" nillable="true" id="dAgency.NineOneOneEMSCallCenterVolumeperYear" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dAgency.18</number>
										<name>911 EMS Call Center Volume per Year</name>
										<national>No</national>
										<state>Yes</state>
										<definition>The number of 911 calls received by the call center during the last calendar year.</definition>
										<v2Number>D01_14</v2Number>
										<usage>Recommended</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>This statistical information is associated with the EMS Agency's specific EMS Agency Number (dAgency.02). A value should be associated with each with (dAgency.15) Statistical Calendar Year.</comment>
										<v3Changes>Name Clarified with "Call Center"</v3Changes>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AnnualAgencyStatistics">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dAgency.19" nillable="true" id="dAgency.EMSDispatchVolumeperYear" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dAgency.19</number>
										<name>EMS Dispatch Volume per Year</name>
										<national>No</national>
										<state>Yes</state>
										<definition>The number of EMS dispatches during the last calendar year.</definition>
										<v2Number>D01_15</v2Number>
										<usage>Recommended</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>This statistical information is associated with the EMS Agency's specific EMS Agency Number (dAgency.02). A value should be associated with each with (dAgency.15) Statistical Calendar Year.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AnnualAgencyStatistics">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dAgency.20" nillable="true" id="dAgency.EMSPatientTransportVolumeperYear" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dAgency.20</number>
										<name>EMS Patient Transport Volume per Year</name>
										<national>No</national>
										<state>Yes</state>
										<definition>The number of EMS transports per year based on last calendar year.</definition>
										<v2Number>D01_16</v2Number>
										<usage>Recommended</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>This statistical information is associated with the EMS Agency's specific EMS Agency Number (dAgency.02). A value should be associated with each with (dAgency.15) Statistical Calendar Year.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AnnualAgencyStatistics">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dAgency.21" nillable="true" id="dAgency.EMSPatientContactVolumeperYear" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dAgency.21</number>
										<name>EMS Patient Contact Volume per Year</name>
										<national>No</national>
										<state>Yes</state>
										<definition>The number of EMS patient contacts per year based on last calendar year.</definition>
										<v2Number>D01_17</v2Number>
										<usage>Recommended</usage>
										<performanceMeasuresGroup>
											<performanceMeasure>Airway</performanceMeasure>
											<performanceMeasure>Cardiac Arrest</performanceMeasure>
											<performanceMeasure>Pediatric</performanceMeasure>
											<performanceMeasure>Response</performanceMeasure>
											<performanceMeasure>STEMI</performanceMeasure>
											<performanceMeasure>Stroke</performanceMeasure>
											<performanceMeasure>Trauma</performanceMeasure>
										</performanceMeasuresGroup>
										<comment>This statistical information is associated with the EMS Agency's specific EMS Agency Number (dAgency.02). A value should be associated with each with (dAgency.15) Statistical Calendar Year.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AnnualAgencyStatistics">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="dAgency.22" nillable="true" id="dAgency.EMSBillableCallsperYear" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>dAgency.22</number>
										<name>EMS Billable Calls per Year</name>
										<national>No</national>
										<state>Yes</state>
										<definition>The number of EMS patient encounters which are billable based on the last calendar year.</definition>
										<v2Number>D01_18</v2Number>
										<usage>Recommended</usage>
										<comment>This statistical information is associated with the EMS Agency's specific EMS Agency Number (dAgency.02). A value should be associated with each with (dAgency.15) Statistical Calendar Year.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="AnnualAgencyStatistics">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
					<xs:attribute name="UUID" type="UUID" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="dAgency.23" type="EMSAgencyTimeZone" id="dAgency.EMSAgencyTimeZone" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.23</number>
							<name>EMS Agency Time Zone</name>
							<national>No</national>
							<state>No</state>
							<definition>The time zone for the EMS Agency.</definition>
							<v2Number>D01_19</v2Number>
							<usage>Optional</usage>
							<comment>Associated with each of the EMS Agency Number (dAgency.02). If more than one Time Zone is located within the EMS Agency service area, please chose the time zone covering the greatest volume of EMS events.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dAgency.24" type="YesNoValues" id="dAgency.EMSAgencyDaylightSavingsTimeUse" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.24</number>
							<name>EMS Agency Daylight Savings Time Use</name>
							<national>No</national>
							<state>No</state>
							<definition>Indicate if the EMS Agency conforms to Daylight Savings Time.</definition>
							<v2Number>D01_20</v2Number>
							<usage>Optional</usage>
							<comment>Associated with each of the EMS Agency Number (dAgency.02). If the EMS Agency service area contains areas with variations in Daylight Savings Time implementation, choose the response which best represents the majority of the EMS events.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dAgency.25" nillable="true" id="dAgency.NationalProviderIdentifier" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.25</number>
							<name>National Provider Identifier</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The National Provider Identifier issued by CMS.</definition>
							<v2Number>D01_21</v2Number>
							<usage>Required</usage>
							<comment>Only EMS Agencies billing for service will have an NPI number. 
                &lt;br/>&lt;br/>CMS (Centers for Medicare and Medicaid Services) NPI Registry lookup: 
                &lt;br/>https://npiregistry.cms.hhs.gov/</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NationalProviderIdentifier">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="dAgency.26" nillable="true" id="dAgency.FireDepartmentIDNumber" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>dAgency.26</number>
							<name>Fire Department ID Number</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The state assigned Fire Department ID Number for EMS Agency(ies) operating within a Fire Department.</definition>
							<usage>Required</usage>
							<comment>Fire Department ID was added to better integrate Fire Department EMS Agencies and linkage to other EMS related data systems such as NFIRS.</comment>
							<v3Changes>Added to better associate Fire and EMS licensure and operational identifiers.</v3Changes>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="FireDepartmentIDNumber">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AgencyOrganizationalTaxStatus">
		<xs:annotation>
			<xs:documentation>The EMS Agencies business/corporate organizational tax status</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1018001">
				<xs:annotation>
					<xs:documentation>For Profit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1018003">
				<xs:annotation>
					<xs:documentation>Other (e.g., Government)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1018005">
				<xs:annotation>
					<xs:documentation>Not For Profit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnnualAgencyStatistics">
		<xs:annotation>
			<xs:documentation>The number per year based on last calendar year.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="400000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSAgencyTimeZone">
		<xs:annotation>
			<xs:documentation>The time zone for the EMS Agency.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1027001">
				<xs:annotation>
					<xs:documentation>All other time zones</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1027003">
				<xs:annotation>
					<xs:documentation>GMT-04:00 Atlantic Time</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1027005">
				<xs:annotation>
					<xs:documentation>GMT-05:00 Eastern Time</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1027007">
				<xs:annotation>
					<xs:documentation>GMT-06:00 Central Time</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1027009">
				<xs:annotation>
					<xs:documentation>GMT-07:00 Mountain Time</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1027011">
				<xs:annotation>
					<xs:documentation>GMT-08:00 Pacific Time</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1027013">
				<xs:annotation>
					<xs:documentation>GMT-09:00 Alaska</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1027015">
				<xs:annotation>
					<xs:documentation>GMT-10:00 Hawaii</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1027017">
				<xs:annotation>
					<xs:documentation>GMT-11:00 Midway Island, Samoa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FireDepartmentIDNumber">
		<xs:annotation>
			<xs:documentation>The state assigned Fire Department ID Number for EMS Agency(ies) operating within a Fire Department</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganizationStatus">
		<xs:annotation>
			<xs:documentation>The primary organizational status of the agency.  The definition of Volunteer or Non-Volunteer is based on state or local terms.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1016001">
				<xs:annotation>
					<xs:documentation>Mixed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1016003">
				<xs:annotation>
					<xs:documentation>Non-Volunteer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1016005">
				<xs:annotation>
					<xs:documentation>Volunteer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
