nemsis/xsd/eScene_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.nemsis.org" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"/>
	<xs:complexType name="eScene" id="eScene.Scene">
		<xs:sequence>
			<xs:element name="eScene.01" nillable="true" id="eScene.FirstEMSUnitonScene">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.01</number>
							<name>First EMS Unit on Scene</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>Documentation that this EMS Unit was the first EMS Unit among all EMS Agencies on the Scene.</definition>
							<usage>Required</usage>
							<comment>Added to improve the evaluation of Response Times when multiple EMS units are responding to the same scene.</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="YesNoValues">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.ResponderGroup" id="eScene.ResponderGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Group Tag to hold info from all responders to the scene.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eScene.02" type="OtherEMSAgenciesAtScene" id="eScene.OtherEMSorPublicSafetyAgenciesatScene" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eScene.02</number>
										<name>Other EMS or Public Safety Agencies at Scene</name>
										<national>No</national>
										<state>No</state>
										<definition>Other EMS agency names that were at the scene, if any.</definition>
										<v2Number>E08_01</v2Number>
										<usage>Optional</usage>
										<comment>For states and local agencies that participate in the Cardiac Arrest Registry for Enhanced Survival (CARES), eScene.02 and eScene.03 are used to populate CARES data element
											#16 Fire/First Responder as defined by CARES in the CARES 2019 Data Dictionary: &lt;a href="https://mycares.net/sitepages/uploads/2019/Data%20Dictionary%20(2019).pdf" target="_blank">https://mycares.net/sitepages/uploads/2019/Data%20Dictionary%20(2019).pdf&lt;/a>.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="eScene.03" type="EMSAgencyID" id="eScene.OtherPublicSafetyorEMSAgencyIDNumber" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eScene.03</number>
										<name>Other EMS or Public Safety Agency ID Number</name>
										<national>No</national>
										<state>No</state>
										<definition>The ID number for the EMS Agency or Other Public Safety listed in eScene.02.</definition>
										<usage>Optional</usage>
										<comment>The ID should be the state ID (license number) for the EMS agency or ID number for the law enforcement. This may be an ID assigned by the state or created by the EMS agency.
											&lt;br />&lt;br />For states and local agencies that participate in the Cardiac Arrest Registry for Enhanced Survival (CARES), eScene.02 and eScene.03 are used to populate CARES data element
											#16 Fire/First Responder as defined by CARES in the CARES 2019 Data Dictionary: &lt;a href="https://mycares.net/sitepages/uploads/2019/Data%20Dictionary%20(2019).pdf" target="_blank">https://mycares.net/sitepages/uploads/2019/Data%20Dictionary%20(2019).pdf&lt;/a>.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="eScene.04" type="OtherServicesAtScene" id="eScene.TypeofOtherServiceatScene" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eScene.04</number>
										<name>Type of Other Service at Scene</name>
										<national>No</national>
										<state>No</state>
										<definition>The type of public safety or EMS service associated with Other Agencies on Scene.</definition>
										<v2Number>E08_02</v2Number>
										<usage>Optional</usage>
										<comment>Associated with each Other Service in eScene.02</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="eScene.24" id="eScene.FirstOtherAgencyToProvideCare" minOccurs="0" nillable="true">
							<xs:annotation>
								<xs:documentation>
									<nemsisTacDoc>
										<number>eScene.24</number>
										<name>First Other EMS or Public Safety Agency at Scene to Provide Patient Care</name>
										<national>No</national>
										<state>No</state>
										<definition>When there are multiple other EMS Agencies or Public Safety Agencies at the scene, this element documents the other EMS or public safety agency that was first to provide care to the patient.</definition>
										<usage>Optional</usage>
										<comment>For states and local agencies that participate in the Cardiac Arrest Registry for Enhanced Survival (CARES), eScene.24 is used to populate CARES data element 
											#16 Fire/First Responder as defined by CARES in the CARES 2019 Data Dictionary: &lt;a href="https://mycares.net/sitepages/uploads/2019/Data%20Dictionary%20(2019).pdf" target="_blank">https://mycares.net/sitepages/uploads/2019/Data%20Dictionary%20(2019).pdf&lt;/a>.</comment>
									</nemsisTacDoc>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="YesNoValues">
										<xs:attribute name="NV" use="optional">
											<xs:simpleType>
												<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="CorrelationID" type="CorrelationID" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.05" type="DateTimeType" id="eScene.DateTimeInitialResponderArrivedonScene" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.05</number>
							<name>Date/Time Initial Responder Arrived on Scene</name>
							<national>No</national>
							<state>No</state>
							<definition>The time that the initial responder arrived on the scene, if applicable.</definition>
							<v2Number>E08_04</v2Number>
							<usage>Optional</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eScene.06" nillable="true" id="eScene.NumberofPatientsatScene">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.06</number>
							<name>Number of Patients at Scene</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>Indicator of how many total patients were at the scene.</definition>
							<v2Number>E08_05</v2Number>
							<usage>Required</usage>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NumberOfPatientsAtScene">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.07" nillable="true" id="eScene.MassCasualtyIncident">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.07</number>
							<name>Mass Casualty Incident</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>Indicator if this event would be considered a mass casualty incident (overwhelmed existing EMS resources).</definition>
							<v2Number>E08_06</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="YesNoValues">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.08" nillable="true" id="eScene.TriageClassificationforMCIPatient">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.08</number>
							<name>Triage Classification for MCI Patient</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The color associated with the initial triage assessment/classification of the MCI patient.</definition>
							<v2Number/>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>
This element is documented when eScene.07 (Mass Casualty Incident) = Yes.
&lt;br/>&lt;br/>
Examples of triage systems include START and SALT.  
&lt;br/>&lt;br/>
&lt;div style="font-size:11px">Adapted from: SALT mass casualty triage: concept endorsed by the American College of Emergency Physicians, American College of Surgeons Committee on Trauma, American Trauma Society, National Association of EMS Physicians, National Disaster Life Support Education Consortium, and State and Territorial Injury Prevention Directors Association. Disaster Med Public Health Prep. 2008 Dec;2(4):245-6.
&lt;/div>
&lt;br/>&lt;br/>
&lt;div style="font-size:11px">
START reference:  Benson M, Koenig KL, Schultz CH. Disaster triage: START, then SAVE-a new method of dynamic triage for victims of a catastrophic earthquake. Prehospital Disaster Med. 1996; Apr-Jun; 11(2): 117-24							
&lt;/div>
							</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="TriageClassification">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.09" nillable="true" id="eScene.IncidentLocationType">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.09</number>
							<name>Incident Location Type</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The kind of location where the incident happened.</definition>
							<v2Number>E08_07</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Code list is represented in ICD-10-CM. Reference the NEMSIS Suggested Lists at: https://nemsis.org/technical-resources/version-3/version-3-resource-repository/					
							&lt;br/>&lt;br/>ICD-10-CM
							&lt;br/>Website - &lt;a href="http://uts.nlm.nih.gov" target="_blank">http://uts.nlm.nih.gov&lt;/a>
							&lt;br/>Product - UMLS Metathesaurus
							</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="IncidentLocationType">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.10" nillable="true" id="eScene.IncidentFacilityCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.10</number>
							<name>Incident Facility Code</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The state, regulatory, or other unique number (code) associated with the facility if the Incident is a Healthcare Facility.</definition>
							<v2Number>E08_08</v2Number>
							<usage>Recommended</usage>
							<comment>This may be populated from a list created within dFacility.03 (Facility Location Code) or dFacility.05 (Facility National Provider Identifier).</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="IncidentFacilityCode">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.11" type="GPSLocation" id="eScene.SceneGPSLocation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.11</number>
							<name>Scene GPS Location</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The GPS coordinates associated with the Scene.</definition>
							<v2Number>E08_10</v2Number>
							<usage>Optional</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>The pattern for GPS location is in the format "&lt;span style="font-style:italic">latitude&lt;/span>,&lt;span style="font-style:italic">longitude&lt;/span>" where:
										  &lt;br/>- &lt;span style="font-style:italic">latitude&lt;/span> has a minimum of -90 and a maximum of 90 with up to 6 decimal places
										  &lt;br/>- &lt;span style="font-style:italic">longitude&lt;/span> has a minimum of -180 and a maximum of 180 with up to 6 decimal places						  
						 </comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eScene.12" type="USNG" id="eScene.SceneUSNationalGridCoordinates" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.12</number>
							<name>Scene US National Grid Coordinates</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The US National Grid Coordinates for the Scene.</definition>
							<usage>Optional</usage>
							<comment>Standard found at www.fgdc.gov/usng</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eScene.13" type="IncidentFacilityName" id="eScene.IncidentFacilityorLocationName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.13</number>
							<name>Incident Facility or Location Name</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The name of the facility, business, building, etc. associated with the scene of the EMS event.</definition>
							<usage>Optional</usage>
							<comment>This element may be populated from a list created within dFacility.02 (Facility Name).</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eScene.14" nillable="true" id="eScene.MilePostOrMajorRoadway" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.14</number>
							<name>Mile Post or Major Roadway</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The mile post or major roadway associated with the incident locations.</definition>
							<usage>Recommended</usage>
							<comment/>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="MilePostOrMajorRoadway">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.15" nillable="true" id="eScene.IncidentStreetAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.15</number>
							<name>Incident Street Address</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The street address where the patient was found, or, if no patient, the address to which the unit responded.</definition>
							<v2Number>E08_11</v2Number>
							<usage>Recommended</usage>
							<comment/>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StreetAddress">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="StreetAddress2" type="StreetAddress" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.16" nillable="true" id="eScene.IncidentApartmentSuiteorRoom" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.16</number>
							<name>Incident Apartment, Suite, or Room</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The number of the specific apartment, suite, or room where the incident occurred.</definition>
							<usage>Recommended</usage>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="SceneApartment">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.17" nillable="true" id="eScene.IncidentCity" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.17</number>
							<name>Incident City</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The city or township (if applicable) where the patient was found or to which the unit responded (or best approximation).</definition>
							<v2Number>E08_12</v2Number>
							<usage>Recommended</usage>
							<comment>
City codes are based on GNIS Feature Class. The primary Feature Class to use is "Civil" with "Populated Place" and "Military" code as additional options. 
  	&lt;br/>&lt;br/>Definitions for each GNIS City Feature Class can be found on the GNIS Codes website. 
  	&lt;br/>&lt;br/>GNIS Codes Website: &lt;a href="http://geonames.usgs.gov/domestic/download_data.htm" target="_blank">http://geonames.usgs.gov/domestic/download_data.htm&lt;/a></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="CityGnisCode">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.18" nillable="true" id="eScene.IncidentState">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.18</number>
							<name>Incident State</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The state, territory, or province where the patient was found or to which the unit responded (or best approximation).</definition>
							<v2Number>E08_14</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Based on the ANSI State Code.&lt;br/>&lt;br/>GNIS Codes Website: &lt;a href="http://geonames.usgs.gov/domestic/download_data.htm" target="_blank">http://geonames.usgs.gov/domestic/download_data.htm&lt;/a>
</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ANSIStateCode">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.19" nillable="true" id="eScene.IncidentZIPCode">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.19</number>
							<name>Incident ZIP Code</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The ZIP code of the incident location.</definition>
							<v2Number>E08_15</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>ZIP Codes Product Website: &lt;a href="https://www.zipcodedownload.com/Products/Product/Z5Commercial/Standard/Overview/" target="_blank">https://www.zipcodedownload.com/Products/Product/Z5Commercial/Standard/Overview/&lt;/a>
&lt;br/>Product: USA - 5-digit ZIP Code Database, Commercial Edition
</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ZIP">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.20" nillable="true" id="eScene.SceneCrossStreetorDirections" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.20</number>
							<name>Scene Cross Street or Directions</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The nearest cross street to the incident address or directions from a recognized landmark or the second street name of an intersection.</definition>
							<usage>Recommended</usage>
							<v3Changes>Added to better locate/document the scene (incident) location.</v3Changes>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="SceneCrossStreet">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.21" nillable="true" id="eScene.IncidentCounty">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.21</number>
							<name>Incident County</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The county or parish where the patient was found or to which the unit responded (or best approximation).</definition>
							<v2Number>E08_13</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>Based on the ANSI Code Single Choice based on the County Name but stored as the ANSI code (combined 5 digit State and County codes) Should be required if there is a patient associated with the event.
								&lt;br/>&lt;br/>GNIS Codes Website: &lt;a href="http://geonames.usgs.gov/domestic/download_data.htm" target="_blank">http://geonames.usgs.gov/domestic/download_data.htm&lt;/a>
</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ANSICountyCode">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eScene.22" type="ANSICountryCode" id="eScene.IncidentCountry" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.22</number>
							<name>Incident Country</name>
							<national>No</national>
							<state>No</state>
							<definition>The country of the incident location.</definition>
							<usage>Optional</usage>
							<comment>Based on the ISO Country Code.&lt;br/>&lt;br/>ANSI Country Codes (ISO 3166) Website: &lt;a href="http://www.iso.org/iso/country_codes/iso_3166_code_lists.htm" target="_blank">http://www.iso.org/iso/country_codes/iso_3166_code_lists.htm&lt;/a>
</comment>
							<v3Changes>Added for international compatibility.</v3Changes>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eScene.23" type="CensusTracts" id="eScene.IncidentCensusTract" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eScene.23</number>
							<name>Incident Census Tract</name>
							<national>No</national>
							<state>No</state>
							<definition>The census tract in which the incident occurred.</definition>
							<usage>Optional</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>
										This data element was added to better document the service area of the EMS Agency. Each state listed is associated with the counties, census tracts, and ZIP codes within the EMS Agency Service Area for each state. 
										&lt;br/>&lt;br/>The format of the census tract number must be an 11-digit number, based upon the 2010 census, using the pattern: 
										&lt;br/>2-digit State Code 3-digit County Code 6-digit Census Tract Number (no decimal) 
										&lt;br/>&lt;br/>Example: NEMSIS TAC office (UT, Salt Lake County, Census Tract - located at 295 Chipeta Way, Salt Lake City, UT) 
										49035101400
										&lt;br/>&lt;br/>Census Tract Data Website (files and descriptions): &lt;a href="http://www.census.gov/geo/maps-data/data/tract_rel_download.html" target="_blank">http://www.census.gov/geo/maps-data/data/tract_rel_download.html&lt;/a>									
							</comment>
							<v3Changes>Added to improve the ability to use census and other demographic information within EMS research.</v3Changes>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MilePostOrMajorRoadway">
		<xs:annotation>
			<xs:documentation>The address number or mile post associated with the incident location.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMSAgencyID">
		<xs:annotation>
			<xs:documentation>The ID number for the Other Public Safety or EMS Agency listed in E08_01.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncidentFacilityCode">
		<xs:annotation>
			<xs:documentation>The state or regulatory number (code) associated with the facility if the Incident is a Healthcare Facility.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncidentFacilityName">
		<xs:annotation>
			<xs:documentation>The destination the patient was delivered or transferred to</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IncidentLocationType">
		<xs:annotation>
			<xs:documentation>The kind of location where the incident happened</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="Y92\.[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberOfPatientsAtScene">
		<xs:annotation>
			<xs:documentation>Indicator of how many total patients were at the scene</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2707001">
				<xs:annotation>
					<xs:documentation>Multiple</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2707003">
				<xs:annotation>
					<xs:documentation>None</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2707005">
				<xs:annotation>
					<xs:documentation>Single</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherEMSAgenciesAtScene">
		<xs:annotation>
			<xs:documentation>Other EMS agencies that were at the scene, if any</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherServicesAtScene">
		<xs:annotation>
			<xs:documentation>Other services that were at the scene, if any</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2704001">
				<xs:annotation>
					<xs:documentation>EMS Mutual Aid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2704003">
				<xs:annotation>
					<xs:documentation>Fire</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2704005">
				<xs:annotation>
					<xs:documentation>First Responder</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2704007">
				<xs:annotation>
					<xs:documentation>Hazmat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2704009">
				<xs:annotation>
					<xs:documentation>Law</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2704011">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2704013">
				<xs:annotation>
					<xs:documentation>Other EMS Agency</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2704015">
				<xs:annotation>
					<xs:documentation>Other Health Care Provider</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2704017">
				<xs:annotation>
					<xs:documentation>Rescue</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2704019">
				<xs:annotation>
					<xs:documentation>Utilities</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SceneApartment">
		<xs:annotation>
			<xs:documentation>The number of the specific apartment, suite, or room where the incident occurred.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SceneCrossStreet">
		<xs:annotation>
			<xs:documentation>The nearest cross street to the incident address, or directions from a recognized landmark or the second street name of an intersection.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TriageClassification">
		<xs:annotation>
			<xs:documentation>Other services that were at the scene, if any</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="2708001">
				<xs:annotation>
					<xs:documentation>Red - Immediate</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2708003">
				<xs:annotation>
					<xs:documentation>Yellow - Delayed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2708005">
				<xs:annotation>
					<xs:documentation>Green - Minimal (Minor)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2708007">
				<xs:annotation>
					<xs:documentation>Gray - Expectant</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2708009">
				<xs:annotation>
					<xs:documentation>Black - Deceased</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
