nemsis/xsd/eTimes_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.nemsis.org" targetNamespace="http://www.nemsis.org" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes_v3.xsd"/>
	<xs:complexType name="eTimes" id="eTimes.Times">
		<xs:sequence>
			<xs:element name="eTimes.01" nillable="true" id="eTimes.PSAPCallDateTime">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.01</number>
							<name>PSAP Call Date/Time</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The date/time the phone rings (911 call to public safety answering point or other designated entity) requesting EMS services.</definition>
							<v2Number>E05_02</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>This date/time might be the same as Dispatch Notified Date/Time (eTimes.02).
							&lt;br/>&lt;br/>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="1">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="2px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DateTimeType">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eTimes.02" type="DateTimeType" id="eTimes.DispatchNotifiedDateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.02</number>
							<name>Dispatch Notified Date/Time</name>
							<national>No</national>
							<state>No</state>
							<definition>The date/time dispatch was notified by the 911 call taker (if a separate entity).</definition>
							<v2Number>E05_03</v2Number>
							<usage>Optional</usage>
							<comment>This date/time might be the same as PSAP Call Date/Time (eTimes.01). 
							&lt;br/>&lt;br/>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table>
							</comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eTimes.03" type="DateTimeType" id="eTimes.UnitNotifiedbyDispatchDateTime">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.03</number>
							<name>Unit Notified by Dispatch Date/Time</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The date/time the responding unit was notified by dispatch.</definition>
							<v2Number>E05_04</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="1">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="2px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eTimes.04" type="DateTimeType" id="eTimes.DispatchAcknowledgedDateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.04</number>
							<name>Dispatch Acknowledged Date/Time</name>
							<national>No</national>
							<state>No</state>
							<definition>The date/time the dispatch was acknowledged by the EMS Unit.</definition>
							<usage>Optional</usage>
							<comment>This is the end of turnout time or the beginning of response time. Added per Fire Service to better calculate NFPA 1710.
							&lt;br/>&lt;br/>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eTimes.05" nillable="true" id="eTimes.UnitEnRouteDateTime">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.05</number>
							<name>Unit En Route Date/Time</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The date/time the unit responded; that is, the time the vehicle started moving.</definition>
							<v2Number>E05_05</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DateTimeType">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eTimes.06" nillable="true" id="eTimes.UnitArrivedonSceneDateTime">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.06</number>
							<name>Unit Arrived on Scene Date/Time</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The date/time the responding unit arrived on the scene; that is, the time the vehicle stopped moving at the scene.</definition>
							<v2Number>E05_06</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DateTimeType">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eTimes.07" nillable="true" id="eTimes.ArrivedatPatientDateTime">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.07</number>
							<name>Arrived at Patient Date/Time</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The date/time the responding unit arrived at the patient's side.</definition>
							<v2Number>E05_07</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DateTimeType">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eTimes.08" nillable="true" id="eTimes.TransferofEMSPatientCareDateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.08</number>
							<name>Transfer of EMS Patient Care Date/Time</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The date/time the patient was transferred from this EMS agency to another EMS agency for care.</definition>
							<v2Number>E05_08</v2Number>
							<usage>Recommended</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DateTimeType">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded NV.NotReporting"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eTimes.09" nillable="true" id="eTimes.UnitLeftSceneDateTime">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.09</number>
							<name>Unit Left Scene Date/Time</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The date/time the responding unit left the scene (started moving).</definition>
							<v2Number>E05_09</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DateTimeType">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eTimes.10" type="DateTimeType" id="eTimes.ArrivalatDestinationLandingArea" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.10</number>
							<name>Arrival at Destination Landing Area Date/Time</name>
							<national>No</national>
							<state>No</state>
							<definition>The date/time the Air Medical vehicle arrived at the destination landing area.</definition>
							<usage>Optional</usage>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eTimes.11" nillable="true" id="eTimes.PatientArrivedatDestinationDateTime">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.11</number>
							<name>Patient Arrived at Destination Date/Time</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The date/time the responding unit arrived with the patient at the destination or transfer point.</definition>
							<v2Number>E05_10</v2Number>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DateTimeType">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eTimes.12" nillable="true" id="eTimes.DestinationPatientTransferofCareDateTime">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.12</number>
							<name>Destination Patient Transfer of Care Date/Time</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The date/time that patient care was transferred to the destination healthcare staff.</definition>
							<usage>Required</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Airway</performanceMeasure>
								<performanceMeasure>Cardiac Arrest</performanceMeasure>
								<performanceMeasure>Pediatric</performanceMeasure>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>STEMI</performanceMeasure>
								<performanceMeasure>Stroke</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>This was added to better document delays in ED transfer of care due to ED crowding or other issues beyond EMS control.
							&lt;br/>&lt;br/>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DateTimeType">
							<xs:attribute name="NV" use="optional">
								<xs:simpleType>
									<xs:union memberTypes="NV.NotApplicable NV.NotRecorded"/>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="eTimes.13" type="DateTimeType" id="eTimes.UnitBackinServiceDateTime">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.13</number>
							<name>Unit Back in Service Date/Time</name>
							<national>Yes</national>
							<state>Yes</state>
							<definition>The date/time the unit back was back in service and available for response (finished with call, but not necessarily back in home location).</definition>
							<v2Number>E05_11</v2Number>
							<usage>Mandatory</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Response</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eTimes.14" type="DateTimeType" id="eTimes.UnitCanceledDateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.14</number>
							<name>Unit Canceled Date/Time</name>
							<national>No</national>
							<state>Yes</state>
							<definition>The date/time the unit was canceled.</definition>
							<v2Number>E05_12</v2Number>
							<usage>Optional</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Response</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>This date/time is to be documented if the unit went en route but neither arrived on scene nor made patient contact.
							&lt;br/>&lt;br/>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eTimes.15" type="DateTimeType" id="eTimes.UnitBackatHomeLocationDateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.15</number>
							<name>Unit Back at Home Location Date/Time</name>
							<national>No</national>
							<state>No</state>
							<definition>The date/time the responding unit was back in their service area. With agencies who utilized Agency Status Management, home location means the service area as assigned through the agency status management protocol.</definition>
							<v2Number>E05_13</v2Number>
							<usage>Optional</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Response</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eTimes.16" type="DateTimeType" id="eTimes.EMSCallCompletedDateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.16</number>
							<name>EMS Call Completed Date/Time</name>
							<national>No</national>
							<state>No</state>
							<definition>The date/time the responding unit completed all tasks associated with the event including transfer of the patient, and such things as cleaning and restocking.</definition>
							<usage>Optional</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Response</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>For many EMS agencies, this would equal Unit Back in Service Date/Time (eTimes.13) if no travel is required to be back in service.
							&lt;br/>&lt;br/>DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
&lt;table  cellspacing="2">&lt;tr>&lt;td>							
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
&lt;/table> 
&lt;/td>&lt;/tr>&lt;/table>
&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
&lt;table cellspacing="2">&lt;tr>&lt;td>	
&lt;table border="1px" cellpadding="3px" cellspacing="0">
  &lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
  &lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
&lt;/table>
&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eTimes.17" type="DateTimeType" id="eTimes.UnitArrivedAtStagingArea" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<nemsisTacDoc>
							<number>eTimes.17</number>
							<name>Unit Arrived at Staging Area Date/Time</name>
							<national>No</national>
							<state>No</state>
							<definition>The date/time the responding unit arrived at a staging area, prior to arrival on scene.</definition>
							<usage>Optional</usage>
							<performanceMeasuresGroup>
								<performanceMeasure>Response</performanceMeasure>
								<performanceMeasure>Trauma</performanceMeasure>
							</performanceMeasuresGroup>
							<comment>For use when the EMS Units and personnel are not allowed access to the scene until it is cleared for reasons such as safety (e.g., shooting, hazmat, tornado, fire, etc.).
								&lt;br/>&lt;br/>
								DateTime consists of finite-length characters of the form: yyyy '-' mm '-' dd 'T' hh ':' mm ':' ss ('.' s+)? (zzzzzz)
								&lt;table  cellspacing="2">&lt;tr>&lt;td>							
								&lt;table border="1px" cellpadding="3px" cellspacing="0">
								&lt;tr>&lt;td align="center">yyyy&lt;/td>&lt;td>a four-digit numeral that represents the year&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>separators between parts of the date portion&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the month&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">dd&lt;/td>&lt;td>a two-digit numeral that represents the day&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">T&lt;/td>&lt;td>separator that indicates time-of-day follows&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral that represents the hour&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">':'&lt;/td>&lt;td>a separator between parts of the time-of-day portion&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minute&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">ss&lt;/td>&lt;td>a two-integer-digit numeral that represents the whole seconds&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">'.' s+&lt;/td>&lt;td>(not required) represents the fractional seconds&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">zzzzzz&lt;/td>&lt;td>(required) represents the timezone (as described below)&lt;/td>&lt;/tr>
								&lt;/table> 
								&lt;/td>&lt;/tr>&lt;/table>
								&lt;br/>Timezones, required, are durations with (integer-valued) hour and minute properties in the form: ('+' | '-') hh ':' mm   
								&lt;table cellspacing="2">&lt;tr>&lt;td>	
								&lt;table border="1px" cellpadding="3px" cellspacing="0">
								&lt;tr>&lt;td align="center">hh&lt;/td>&lt;td>a two-digit numeral (with leading zeros as required) that represents the hours&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">mm&lt;/td>&lt;td>a two-digit numeral that represents the minutes&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">'+'&lt;/td>&lt;td>a nonnegative duration&lt;/td>&lt;/tr>
								&lt;tr>&lt;td align="center">'-'&lt;/td>&lt;td>a nonpositive duration&lt;/td>&lt;/tr>
								&lt;/table>
								&lt;/td>&lt;/tr>&lt;/table></comment>
						</nemsisTacDoc>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
